:root{

    /* Primary */
    --scissors_gradient: linear-gradient(180deg ,hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    --paper_gradient: linear-gradient(180deg ,hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    --rock_gradient: linear-gradient(180deg , hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    --lizard_gradient: linear-gradient(180deg , hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --cyan: linear-gradient(180deg ,hsl(189, 59%, 53%), hsl(189, 58%, 57%));

    /* Neutral */
    --dark_text:hsl(229, 25%, 31%);
    --score_text: hsl(229, 64%, 46%);
    --header_outline: hsl(217, 16%, 45%);

    /* Background */
    --radial_gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Barlow Semi Condensed', sans-serif;

}

html{
    width: 100vw;
    height: 100vh;
}

.game {
    background-image: var(--radial_gradient);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game .rules{
    color: whitesmoke;
    background-color: transparent;
    border: 1px solid whitesmoke;
    font-size: 18px;
    padding: .5% 3%;
    border-radius: 0.5em;
    position: absolute;
    bottom: 5%;
    right: 5%;
    cursor: pointer;
}

.score-board{
    display: flex;
    width: 40%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
    border: 5px solid var(--header_outline);
    border-radius: 1em;
    padding: 2%;
    margin: 0 50%;
    margin-top: 2%;

}

.score-board img{
    height: 100%;
}

.score-board .score{
    background-color: whitesmoke;
    padding: 2%;
    height: 90%;
    width: 15%;
    border-radius: 0.5em;
    margin: 10% 0;
    text-align: center;
    align-items: center;
}

.score-board .score p{
    color: var(--score_text);
    font-size: 12px;
    font-weight: bold;
}

.score-board .score h1{
    color: var(--dark_text);
    font-size: 48px;
    display: block;
}

.selection {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selection .pentagon{
    position: absolute;
}

.selection button{
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background: whitesmoke;
    outline: none;
    cursor: pointer;
}

.selection button img{
    height: 50%;
}

.rock{
    border: 25px solid hsl(349, 71%, 52%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
}
.paper{
    border: 25px solid hsl(230, 89%, 62%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
}
.scissors{
    border: 25px solid hsl(39, 89%, 49%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
}
.spock{
    border: 25px solid hsl(189, 59%, 53%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
}

.lizard{
    border: 25px solid hsl(261, 73%, 60%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
}

.rock-menu{
    border: 14px solid hsl(349, 71%, 52%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
    transform: translateX(+250%) translateY(+130%);
}
.paper-menu{
    border: 14px solid hsl(230, 89%, 62%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
    transform: translateX(+210%) translateY(-30%);
}
.scissors-menu{
    border: 14px solid hsl(39, 89%, 49%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
    position: absolute;
    transform: translateY(-145%);
}
.spock-menu{
    border: 14px solid hsl(189, 59%, 53%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
    transform: translateX(-290%) translateY(-30%);
}

.lizard-menu{
    border: 14px solid hsl(261, 73%, 60%);
    box-shadow: 3px 3px 3px rgb(7, 7, 7);
    transform: translateX(-140%) translateY(+140%);
}

.result-page{
    width: 50%;
    display: none;
}

.result{
    margin-top: 5%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result p{
    color: whitesmoke;
    font-size: 26px;
    text-align: center;
    margin-bottom: 15%;
}

.result-menu{
    display: none;
    flex-direction: column;
    align-items: center;
    margin: 0 4%;
    position: relative;
}

.result-menu h1{
    margin-bottom: .5em;
    font-size: 48px;
    color: whitesmoke;
}

.result-menu button{
    padding: 1em 5em;
    color: var(--dark_text);
    background: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 18px;
    border-radius: 0.5em;
    cursor: pointer;
}

.select-item {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-item img {
    width: 110px;
    height: 110px;
}

.rule-modal{
    background-color: whitesmoke;
    width: 50%;
    height: 60%;
    position: fixed;
    z-index: 1;
    display: none;
    margin-top: 10%;
    border-radius: 1em;
    justify-content: center;
} 

.rule-modal h1{
    color: var(--dark_text);
    position: absolute;
    top: 5%;
    left: 5%;
}

.rule-modal .close{
    position: absolute;
    top: 5%;
    right: 5%;
    width: 5%;
}

.rule-modal .rule-img{
    margin: 10% 0;
    height: 400px;
    width: 400px;;
}

.house-op{
    display: none;
}

.loading-dot {
    border-radius: 50%;
    border: none;
    width: 249px;
    height: 249px;
    background-color: var(--dark_text);
    grid-area: houseSelection;
    animation: pulse-animation 1.5s ease-out infinite;
}

@keyframes pulse-animation {
    0% {
        transform: scale(0.7);
    }
    50% {
        transform: scale(1);
        opacity: 0.3;
    }
    100% {
        transform: scale(0.7);
        opacity: 0.5;
    }
}

.light {
    box-shadow: 0px 0px 15px 70px rgba(255, 255, 255, 0.05);

}

@media screen and (max-width: 820px){
    .score-board {
        margin-top: 10%;
        width: 70%;
        height: 10%;
        padding: 5%;
    }
    
    .score-board img{
        height: 100%;
    }

    .score-board .score{
        height: 80%;
        width: 25%;
        padding: 5%;

    }

    .selection {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .selection .pentagon{
        height: 35%;
    }

    .selection button{
        width: 80px;
        height: 80px;
    }
    
    .selection button img{
        height: 50%;
    }
    .game .rules{
        padding: 3% 10%;
        bottom: 5%;
        right: auto;
    }

    .rule-modal{
        width: 100%;
        height: 100%;
        margin-top: 0;
        border-radius: 0;
        justify-content: center;
        align-items: center;
    }
    .rule-modal .close{
        top: 5%;
        right: 5%;
        width: 8%;
    }

    .result{
        width: 100%;
        justify-content: space-between;
        align-items: center;
        margin: 25% 0;
    }

    .select-item {
        width: 100px;
        height: 100px;
    }

    .select-item img {
        width: 50px;
        height: 50px;
    }

    .result-page{
        width: 100%;
        display: none;
        justify-content: center;
        
    }
    .result-menu{
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: center;
        transform: translateX(-8%) translateY(+170%);
       
    }

    .player-selec{
        margin-right: 10%;
    }

    .house-select{
        margin-left: 10%;
    }

    .loading-dot {
        width: 124px;
        height: 124px;
    }
    .rock{
        border: 12px solid hsl(349, 71%, 52%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    .paper{
        border: 12px solid hsl(230, 89%, 62%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    .scissors{
        border: 12px solid hsl(39, 89%, 49%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    .spock{
        border: 12px solid hsl(189, 59%, 53%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    
    .lizard{
        border: 12px solid hsl(261, 73%, 60%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }

    .rock-menu{
        border: 12px solid hsl(349, 71%, 52%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    .paper-menu{
        border: 12px solid hsl(230, 89%, 62%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    .scissors-menu{
        border: 12px solid hsl(39, 89%, 49%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
        position: absolute;
    }
    .spock-menu{
        border: 12px solid hsl(189, 59%, 53%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    
    .lizard-menu{
        border: 12px solid hsl(261, 73%, 60%);
        box-shadow: 3px 3px 3px rgb(7, 7, 7);
    }
    
}